.header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  background-color: #252627;
  color: white;
  gap: 20px;
}

.header h1 {
  font-size: 36px;
  margin: 0;
}

.header nav a {
  margin-left: 15px;
  color: white;
  text-decoration: none;
  font-size: 0.85rem;
}
